{{ define "imports" }}
  {{ range .Params.imports }}
    {{ $ld := printf "static/rhds/css/%s-lightdom.css" . }}
    {{ $shim := printf "static/rhds/css/%s-lightdom-shim.css" . }}
    {{ if fileExists $ld }}
  <link rel="stylesheet" href="/rhds/css/{{ . }}-lightdom.css">
    {{ end }}
    {{ if fileExists $shim }}
  <link rel="stylesheet" href="/rhds/css/{{ . }}-lightdom-shim.css">
    {{ end }}
  {{ end }}
  <script type="module">
    import '@lit-labs/ssr-client/lit-element-hydrate-support.js';
    {{ range .Params.imports }}
    import '@rhds/elements/{{ . }}/{{ . }}.js';
    {{ end }}
  </script>
{{ end }}

{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
{{ end }}
